In [16]:
# IMPORT THE SQALCHEMY LIBRARY's CREATE_ENGINE METHOD
from sqlalchemy import create_engine

# DEFINE THE DATABASE CREDENTIALS
user = 'root'
password = '0000'
host = 'localhost'
port = 3306
database = 'mydatabase'

# PYTHON FUNCTION TO CONNECT TO THE MYSQL DATABASE AND
# RETURN THE SQLACHEMY ENGINE OBJECT
def get_connection():
    return create_engine(
        url="mysql+pymysql://{0}:{1}@{2}:{3}/{4}".format(
            user, password, host, port, database
        )
    )


if __name__ == '__main__':

    try:
      
        # GET THE CONNECTION OBJECT (ENGINE) FOR THE DATABASE
        engine = get_connection()
        print(
            f"Connection to the {host} for user {user} created successfully.")
    except Exception as ex:
        print("Connection could not be made due to the following error: \n", ex)

Connection to the localhost for user root created successfully.

In [17]:
import pandas as pd

In [18]:
engine = create_engine("mysql+pymysql://root:0000@localhost:3306/mydatabase")

print("success")

success

In [19]:
var1 = pd.read_sql_table(
    'sales', engine
)
print(var1)

   sale_id  product_id  quantity_sold  sale_date  total_price
0        1         101              5 2024-01-01       2500.0
1        2         102              3 2024-01-02        900.0
2        3         103              2 2024-01-02         60.0
3        4         104              4 2024-01-03         80.0
4        5         105              6 2024-01-03         90.0

In [ ]:
df3 = pd.read_csv('../files/departments.csv')
df3.to_sql(
    name='departments',
    con=engine,
    if_exists='replace',
    index=False
)

3