In [140]:
import pandas as pd

In [141]:
df1 = pd.read_csv('../files/employees.csv')
df2 = pd.read_csv('../files/projects.csv')
df3 = pd.read_csv('../files/departments.csv')
df4 = pd.read_csv('../files/locations.csv')
df5 = pd.read_csv('../files/salaries.csv')

In [142]:
# Check the first 5 rows of the DataFrame
print(df1.head())
print(df1.shape)

   EmployeeID   Name   Department  Salary
0           1   John  Engineering   55000
1           2   Anna    Marketing   46000
2           3  Peter  Engineering   60000
3           4  Linda           HR   75000
4           5  James    Marketing   49000
(10, 4)

In [143]:
print("Mean:", df1.mean(numeric_only=True))
print("Median:", df1.median(numeric_only=True))
print("Mode:", df1.mode(numeric_only=True).iloc[0])
print("Standard Deviation:", df1.std(numeric_only=True))
print(df1.dtypes)

Mean: EmployeeID        5.5
Salary        61900.0
dtype: float64
Median: EmployeeID        5.5
Salary        57500.0
dtype: float64
Mode: EmployeeID        1
Salary        43000
Name: 0, dtype: int64
Standard Deviation: EmployeeID        3.027650
Salary        16044.729145
dtype: float64
EmployeeID     int64
Name          object
Department    object
Salary         int64
dtype: object

In [144]:
missing_values = df1.isnull().sum()
print(missing_values)

#df1.rename(columns={'EmployeeID': 'ID_Employee'}, inplace=True)
#print(df1.head())

EmployeeID    0
Name          0
Department    0
Salary        0
dtype: int64

In [145]:
salary_threshold = 50000
# Filter the DataFrame where salary is greater than the threshold
filtered_df = df1[df1['Salary'] > salary_threshold]
print(filtered_df)

   EmployeeID       Name   Department  Salary
0           1       John  Engineering   55000
2           3      Peter  Engineering   60000
3           4      Linda           HR   75000
5           6   Patricia  Engineering   52000
6           7    Michael           HR   82000
7           8  Elizabeth  Engineering   67000
9          10      Susan           HR   90000

In [146]:
# Select specific columns
selected_columns = df1[['Name', 'Department']]

#df1.drop('Department', axis=1, inplace=True)

In [147]:
# Add 10% to each value in the salary column
# df1['Salary'] = df1['Salary'] * 1.1

In [148]:
# Add a new column based on an operation on existing columns
#df1['Total_Salary'] = df1['Salary'] + 1000
#print(df1.head())

In [149]:
grouped_df = df1.groupby('Department')[['Salary']].mean()
print(grouped_df)

                   Salary
Department
Engineering  58500.000000
HR           82333.333333
Marketing    46000.000000

In [150]:
# Sort the DataFrame by a specific column (e.g., 'Salary')
df_sorted = df1.sort_values(by='Salary', ascending=True)
print(df_sorted)

   EmployeeID       Name   Department  Salary
8           9      David    Marketing   43000
1           2       Anna    Marketing   46000
4           5      James    Marketing   49000
5           6   Patricia  Engineering   52000
0           1       John  Engineering   55000
2           3      Peter  Engineering   60000
7           8  Elizabeth  Engineering   67000
3           4      Linda           HR   75000
6           7    Michael           HR   82000
9          10      Susan           HR   90000

In [151]:
merged_df = pd.merge(df1, df2, on='EmployeeID', how='inner')
print(merged_df)

   EmployeeID       Name   Department  Salary  ProjectID      ProjectName
0           1       John  Engineering   55000        101    Project Alpha
1           2       Anna    Marketing   46000        102     Project Beta
2           3      Peter  Engineering   60000        103    Project Gamma
3           4      Linda           HR   75000        104    Project Delta
4           5      James    Marketing   49000        105  Project Epsilon
5           6   Patricia  Engineering   52000        106     Project Zeta
6           7    Michael           HR   82000        107      Project Eta
7           8  Elizabeth  Engineering   67000        108    Project Theta
8           9      David    Marketing   43000        109     Project Iota
9          10      Susan           HR   90000        110    Project Kappa

In [152]:
index_result = df1.join(df2, lsuffix='_left', rsuffix='_right')
print(index_result)

   EmployeeID_left       Name   Department  Salary  ProjectID  \
0                1       John  Engineering   55000        101
1                2       Anna    Marketing   46000        102
2                3      Peter  Engineering   60000        103
3                4      Linda           HR   75000        104
4                5      James    Marketing   49000        105
5                6   Patricia  Engineering   52000        106
6                7    Michael           HR   82000        107
7                8  Elizabeth  Engineering   67000        108
8                9      David    Marketing   43000        109
9               10      Susan           HR   90000        110

   EmployeeID_right      ProjectName
0                 1    Project Alpha
1                 2     Project Beta
2                 3    Project Gamma
3                 4    Project Delta
4                 5  Project Epsilon
5                 6     Project Zeta
6                 7      Project Eta
7                 8    Project Theta
8                 9     Project Iota
9                10    Project Kappa

In [153]:
def subtract_1000(x):
    return x - 1000

#df1['Salary'] = df1['Salary'].apply(subtract_1000)
#print(df1)

In [154]:
# Filter rows where Department is 'Engineering' and Salary is less than 60000
filtered_df = df1[(df1['Department'] == 'Engineering') & (df1['Salary'] < 60000)]

print("\nFiltered DataFrame:")
print(filtered_df)

Filtered DataFrame:
   EmployeeID      Name   Department  Salary
0           1      John  Engineering   55000
5           6  Patricia  Engineering   52000

In [155]:
# Convert a column from string to a numeric type.
# df4['Location'] = pd.to_numeric(df4['Location'])
# print(df4)

In [156]:
# Save the modified DataFrame to a new CSV file
df1.to_csv('modified_employees_data.csv', index=False)

In [157]:
#Inner Join: Join employees.csv with salaries.csv on EmployeeID to get the salary details for each employee
inner_result = pd.merge(df1, df5, on='EmployeeID', how='inner')
print(inner_result)

   EmployeeID       Name   Department  Salary_x  Salary_y  Bonus
0           1       John  Engineering     55000     55000   5000
1           2       Anna    Marketing     46000     46000   3000
2           3      Peter  Engineering     60000     60000   7000
3           4      Linda           HR     75000     75000   8000
4           5      James    Marketing     49000     49000   2000
5           6   Patricia  Engineering     52000     52000   4000
6           7    Michael           HR     82000     82000  10000
7           8  Elizabeth  Engineering     67000     67000   6000
8           9      David    Marketing     43000     43000   1500
9          10      Susan           HR     90000     90000  12000

In [158]:
# Left Join: Join employees.csv with departments.csv on Department to get the department manager for each employee.
left_result = pd.merge(df1, df3, on='Department', how='left')
print(left_result)

   EmployeeID       Name   Department  Salary  DepartmentID        Manager
0           1       John  Engineering   55000             1       John Doe
1           2       Anna    Marketing   46000             2     Jane Smith
2           3      Peter  Engineering   60000             1       John Doe
3           4      Linda           HR   75000             3  Michael Brown
4           5      James    Marketing   49000             2     Jane Smith
5           6   Patricia  Engineering   52000             1       John Doe
6           7    Michael           HR   82000             3  Michael Brown
7           8  Elizabeth  Engineering   67000             1       John Doe
8           9      David    Marketing   43000             2     Jane Smith
9          10      Susan           HR   90000             3  Michael Brown

In [159]:
# Full Outer Join: Join salaries.csv with locations.csv on EmployeeID to get salary and location for all employees
outer_result = pd.merge(df5, df4, on='EmployeeID', how='outer')
print(outer_result)

   EmployeeID  Salary  Bonus       Location
0           1   55000   5000       New York
1           2   46000   3000  San Francisco
2           3   60000   7000         Boston
3           4   75000   8000        Chicago
4           5   49000   2000    Los Angeles
5           6   52000   4000         Austin
6           7   82000  10000          Miami
7           8   67000   6000         Dallas
8           9   43000   1500        Seattle
9          10   90000  12000         Denver

In [161]:
# Join employees.csv with itself based on Department to get the list of employees in the same department as a specific employee
self_join_result = pd.merge(df1, df1, on='Department', suffixes=('_emp1', '_emp2'))
target_employee = 'Anna'
self_join_result = self_join_result[self_join_result['Name_emp1'] == target_employee]
self_join_result = self_join_result[self_join_result['EmployeeID_emp1'] != self_join_result['EmployeeID_emp2']]
print(self_join_result)

   EmployeeID_emp1 Name_emp1 Department  Salary_emp1  EmployeeID_emp2  \
5                2      Anna  Marketing        46000                5
6                2      Anna  Marketing        46000                9

  Name_emp2  Salary_emp2
5     James        49000
6     David        43000