In [288]:
import pandas as pd

In [289]:
# Read CSV files into pandas DataFrames
df1 = pd.read_csv('../files/employees.csv')
df2 = pd.read_csv('../files/projects.csv')
df3 = pd.read_csv('../files/departments.csv')
df4 = pd.read_csv('../files/locations.csv')
df5 = pd.read_csv('../files/salaries.csv')

In [290]:
# Print the dataframe to verify it is loaded correctly
print(df1)

   EmployeeID       Name   Department  Salary
0           1       John  Engineering   55000
1           2       Anna    Marketing   46000
2           3      Peter  Engineering   60000
3           4      Linda           HR   75000
4           5      James    Marketing   49000
5           6   Patricia  Engineering   52000
6           7    Michael           HR   82000
7           8  Elizabeth  Engineering   67000
8           9      David    Marketing   43000
9          10      Susan           HR   90000

In [292]:
# Get the shape of the dataframe
# This will return a tuple (number of rows, number of columns)
rows, columns = df1.shape
print(f"Number of rows: {rows}")
print(f"Number of columns: {columns}")

Number of rows: 10
Number of columns: 4

In [ ]:
# Summary statistics of numerical columns
print(df1['Salary'].describe())

count       10.000000
mean     61900.000000
std      16044.729145
min      43000.000000
25%      49750.000000
50%      57500.000000
75%      73000.000000
max      90000.000000
Name: Salary, dtype: float64

In [294]:
# Print the data types of each column in the DataFrame
print(df1.dtypes)

EmployeeID     int64
Name          object
Department    object
Salary         int64
dtype: object

In [295]:
# Check for missing values in each column
missing_values = df1.isnull().sum()
print(missing_values)

EmployeeID    0
Name          0
Department    0
Salary        0
dtype: int64

In [ ]:
# Rename a column in the DataFrame and print the first 5 rows to confirm
# df1.rename(columns={'EmployeeID': 'ID_Employee'}, inplace=True)
# print(df1.head())

In [297]:
# Filter the DataFrame where salary is greater than the threshold
salary_threshold = 50000
filtered_df = df1[df1['Salary'] > salary_threshold]
print(filtered_df)

   EmployeeID       Name   Department  Salary
0           1       John  Engineering   55000
2           3      Peter  Engineering   60000
3           4      Linda           HR   75000
5           6   Patricia  Engineering   52000
6           7    Michael           HR   82000
7           8  Elizabeth  Engineering   67000
9          10      Susan           HR   90000

In [298]:
# Select specific columns
selected_columns = df1[['Name', 'Department']]
print(selected_columns)

        Name   Department
0       John  Engineering
1       Anna    Marketing
2      Peter  Engineering
3      Linda           HR
4      James    Marketing
5   Patricia  Engineering
6    Michael           HR
7  Elizabeth  Engineering
8      David    Marketing
9      Susan           HR

In [299]:
# Drop a column from the DataFrame
# df1.drop('Department', axis=1, inplace=True)

In [300]:
# Add 10% to each value in the salary column
# df1['Salary'] = df1['Salary'] * 1.1

In [ ]:
# Add a new column based on an operation on existing columns
# df1['New_Salary'] = df1['Salary'] + 1000
# print(df1.head())

In [ ]:
# Group by 'Department' and calculate the mean salary
grouped_df = df1.groupby('Department')[['Salary']].mean()
print(grouped_df)

                   Salary
Department
Engineering  58500.000000
HR           82333.333333
Marketing    46000.000000

In [315]:
# Sort the DataFrame by a specific column (e.g., 'Salary')
df_sorted = df1.sort_values(by='Salary', ascending=True)
print(df_sorted)

   EmployeeID       Name   Department  Salary
8           9      David    Marketing   43000
1           2       Anna    Marketing   46000
4           5      James    Marketing   49000
5           6   Patricia  Engineering   52000
0           1       John  Engineering   55000
2           3      Peter  Engineering   60000
7           8  Elizabeth  Engineering   67000
3           4      Linda           HR   75000
6           7    Michael           HR   82000
9          10      Susan           HR   90000

In [ ]:
# Merge two DataFrames on a common column
merged_df = pd.merge(df1, df2, on='EmployeeID', how='inner')
print(merged_df)

   EmployeeID       Name   Department  Salary  ProjectID      ProjectName
0           1       John  Engineering   55000        101    Project Alpha
1           2       Anna    Marketing   46000        102     Project Beta
2           3      Peter  Engineering   60000        103    Project Gamma
3           4      Linda           HR   75000        104    Project Delta
4           5      James    Marketing   49000        105  Project Epsilon
5           6   Patricia  Engineering   52000        106     Project Zeta
6           7    Michael           HR   82000        107      Project Eta
7           8  Elizabeth  Engineering   67000        108    Project Theta
8           9      David    Marketing   43000        109     Project Iota
9          10      Susan           HR   90000        110    Project Kappa

In [317]:
index_result = df1.join(df2, lsuffix='_left', rsuffix='_right')
print(index_result)

   EmployeeID_left       Name   Department  Salary  ProjectID  \
0                1       John  Engineering   55000        101
1                2       Anna    Marketing   46000        102
2                3      Peter  Engineering   60000        103
3                4      Linda           HR   75000        104
4                5      James    Marketing   49000        105
5                6   Patricia  Engineering   52000        106
6                7    Michael           HR   82000        107
7                8  Elizabeth  Engineering   67000        108
8                9      David    Marketing   43000        109
9               10      Susan           HR   90000        110

   EmployeeID_right      ProjectName
0                 1    Project Alpha
1                 2     Project Beta
2                 3    Project Gamma
3                 4    Project Delta
4                 5  Project Epsilon
5                 6     Project Zeta
6                 7      Project Eta
7                 8    Project Theta
8                 9     Project Iota
9                10    Project Kappa

In [318]:
def subtract_1000(x):
    return x - 1000

#df1['Salary'] = df1['Salary'].apply(subtract_1000)
#print(df1)

In [319]:
# Filter rows where Department is 'Engineering' and Salary is less than 60000
filtered_df = df1[(df1['Department'] == 'Engineering') & (df1['Salary'] < 60000)]

print("\nFiltered DataFrame:")
print(filtered_df)

Filtered DataFrame:
   EmployeeID      Name   Department  Salary
0           1      John  Engineering   55000
5           6  Patricia  Engineering   52000

In [321]:
# Save the modified DataFrame to a new CSV file
df1.to_csv('modified_employees_data.csv', index=False)

In [322]:
#Inner Join: Join employees.csv with salaries.csv on EmployeeID to get the salary details for each employee
inner_result = pd.merge(df1, df5, on='EmployeeID', how='inner')
print(inner_result)

   EmployeeID       Name   Department  Salary_x  Salary_y  Bonus
0           1       John  Engineering     55000     55000   5000
1           2       Anna    Marketing     46000     46000   3000
2           3      Peter  Engineering     60000     60000   7000
3           4      Linda           HR     75000     75000   8000
4           5      James    Marketing     49000     49000   2000
5           6   Patricia  Engineering     52000     52000   4000
6           7    Michael           HR     82000     82000  10000
7           8  Elizabeth  Engineering     67000     67000   6000
8           9      David    Marketing     43000     43000   1500
9          10      Susan           HR     90000     90000  12000

In [323]:
# Left Join: Join employees.csv with departments.csv on Department to get the department manager for each employee.
left_result = pd.merge(df1, df3, on='Department', how='left')
print(left_result)

   EmployeeID       Name   Department  Salary  DepartmentID        Manager
0           1       John  Engineering   55000             1       John Doe
1           2       Anna    Marketing   46000             2     Jane Smith
2           3      Peter  Engineering   60000             1       John Doe
3           4      Linda           HR   75000             3  Michael Brown
4           5      James    Marketing   49000             2     Jane Smith
5           6   Patricia  Engineering   52000             1       John Doe
6           7    Michael           HR   82000             3  Michael Brown
7           8  Elizabeth  Engineering   67000             1       John Doe
8           9      David    Marketing   43000             2     Jane Smith
9          10      Susan           HR   90000             3  Michael Brown

In [324]:
# Full Outer Join: Join salaries.csv with locations.csv on EmployeeID to get salary and location for all employees
outer_result = pd.merge(df5, df4, on='EmployeeID', how='outer')
print(outer_result)

   EmployeeID  Salary  Bonus       Location
0           1   55000   5000       New York
1           2   46000   3000  San Francisco
2           3   60000   7000         Boston
3           4   75000   8000        Chicago
4           5   49000   2000    Los Angeles
5           6   52000   4000         Austin
6           7   82000  10000          Miami
7           8   67000   6000         Dallas
8           9   43000   1500        Seattle
9          10   90000  12000         Denver

In [325]:
# Join employees.csv with itself based on Department to get the list of employees in the same department as a specific employee
self_join_result = pd.merge(df1, df1, on='Department', suffixes=('_emp1', '_emp2'))
target_employee = 'Anna'
self_join_result = self_join_result[self_join_result['Name_emp1'] == target_employee]
self_join_result = self_join_result[self_join_result['EmployeeID_emp1'] != self_join_result['EmployeeID_emp2']]
print(self_join_result)

   EmployeeID_emp1 Name_emp1 Department  Salary_emp1  EmployeeID_emp2  \
5                2      Anna  Marketing        46000                5
6                2      Anna  Marketing        46000                9

  Name_emp2  Salary_emp2
5     James        49000
6     David        43000