In [5]:
import pandas as pd

In [ ]:
df = pd.read_csv('../files/employees.csv')
df2 = pd.read_csv('../files/projects.csv')
df3 = pd.read_csv('../files/departments.csv')
df4 = pd.read_csv('../files/locations.csv')
df5 = pd.read_csv('../files/salaries.csv')

# Test Commit 
# Check the first 5 rows of the DataFrame
df.head()

print(df.shape)

print("Mean:", df.mean(numeric_only=True))
print("Median:", df.median(numeric_only=True))
print("Mode:", df.mode(numeric_only=True).iloc[0])
print("Standard Deviation:", df.std(numeric_only=True))
print(df.dtypes)

missing_values = df.isnull().sum()
print(missing_values)

#df.rename(columns={'EmployeeID': 'ID_Employee'}, inplace=True)
#print(df.head())

salary_threshold = 50000
# Filter the DataFrame where salary is greater than the threshold
filtered_df = df[df['Salary'] > salary_threshold]
print(filtered_df)

# Select specific columns
selected_columns = df[['Name', 'Department']]

#df.drop('Department', axis=1, inplace=True)

# Add 10% to each value in the salary column
# df['Salary'] = df['Salary'] * 1.1

# Add a new column based on an operation on existing columns
#df['Total_Salary'] = df['Salary'] + 1000

# Print the updated DataFrame
#print(df.head())

grouped_df = df.groupby('Department')[['Salary']].mean()
print(grouped_df)

# Sort the DataFrame by a specific column (e.g., 'salary')
df_sorted = df.sort_values(by='Salary', ascending=True)

# Print the sorted DataFrame
print(df_sorted)

merged_df = pd.merge(df, df2, on='EmployeeID', how='inner')
print(merged_df)

index_result = df.join(df2, how='inner', lsuffix='_left', rsuffix='_right')
print(index_result)

(10, 4)
Mean: EmployeeID        5.5
Salary        61900.0
dtype: float64
Median: EmployeeID        5.5
Salary        57500.0
dtype: float64
Mode: EmployeeID        1
Salary        43000
Name: 0, dtype: int64
Standard Deviation: EmployeeID        3.027650
Salary        16044.729145
dtype: float64
EmployeeID     int64
Name          object
Department    object
Salary         int64
dtype: object
EmployeeID    0
Name          0
Department    0
Salary        0
dtype: int64
   EmployeeID       Name   Department  Salary
0           1       John  Engineering   55000
2           3      Peter  Engineering   60000
3           4      Linda           HR   75000
5           6   Patricia  Engineering   52000
6           7    Michael           HR   82000
7           8  Elizabeth  Engineering   67000
9          10      Susan           HR   90000
                   Salary
Department
Engineering  58500.000000
HR           82333.333333
Marketing    46000.000000
   EmployeeID       Name   Department  Salary
8           9      David    Marketing   43000
1           2       Anna    Marketing   46000
4           5      James    Marketing   49000
5           6   Patricia  Engineering   52000
0           1       John  Engineering   55000
2           3      Peter  Engineering   60000
7           8  Elizabeth  Engineering   67000
3           4      Linda           HR   75000
6           7    Michael           HR   82000
9          10      Susan           HR   90000
   EmployeeID       Name   Department  Salary  ProjectID      ProjectName
0           1       John  Engineering   55000        101    Project Alpha
1           2       Anna    Marketing   46000        102     Project Beta
2           3      Peter  Engineering   60000        103    Project Gamma
3           4      Linda           HR   75000        104    Project Delta
4           5      James    Marketing   49000        105  Project Epsilon
5           6   Patricia  Engineering   52000        106     Project Zeta
6           7    Michael           HR   82000        107      Project Eta
7           8  Elizabeth  Engineering   67000        108    Project Theta
8           9      David    Marketing   43000        109     Project Iota
9          10      Susan           HR   90000        110    Project Kappa
   EmployeeID_left       Name   Department  Salary  ProjectID  \
0                1       John  Engineering   55000        101
1                2       Anna    Marketing   46000        102
2                3      Peter  Engineering   60000        103
3                4      Linda           HR   75000        104
4                5      James    Marketing   49000        105
5                6   Patricia  Engineering   52000        106
6                7    Michael           HR   82000        107
7                8  Elizabeth  Engineering   67000        108
8                9      David    Marketing   43000        109
9               10      Susan           HR   90000        110

   EmployeeID_right      ProjectName
0                 1    Project Alpha
1                 2     Project Beta
2                 3    Project Gamma
3                 4    Project Delta
4                 5  Project Epsilon
5                 6     Project Zeta
6                 7      Project Eta
7                 8    Project Theta
8                 9     Project Iota
9                10    Project Kappa

In [7]:
def subtract_1000(x):
    return x - 1000

df['Salary'] = df['Salary'].apply(subtract_1000)
print(df)

   EmployeeID       Name   Department  Salary
0           1       John  Engineering   54000
1           2       Anna    Marketing   45000
2           3      Peter  Engineering   59000
3           4      Linda           HR   74000
4           5      James    Marketing   48000
5           6   Patricia  Engineering   51000
6           7    Michael           HR   81000
7           8  Elizabeth  Engineering   66000
8           9      David    Marketing   42000
9          10      Susan           HR   89000

In [ ]:
# Filter rows where Department is 'Engineering' and Salary is less than 60000
filtered_df = df[(df['Department'] == 'Engineering') & (df['Salary'] < 60000)]

print("\nFiltered DataFrame:")
print(filtered_df)

Filtered DataFrame:
   EmployeeID      Name   Department  Salary
0           1      John  Engineering   54000
2           3     Peter  Engineering   59000
5           6  Patricia  Engineering   51000